@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <h3 class="mb-5">AddProduct</h3>


    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="Name" />
    </div>

    <div class="form-outline mb-4">
        <input type="text"class="form-control form-control-lg" name="Price" />
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="Note" />
    </div>


    <button class="btn btn-primary btn-lg btn-block mb-4" type="submit"
            asp-controller="AdminProduct" asp-action="Add">
        Add
    </button>

    <partial name="~/Views/Shared/Message.cshtml" />

    <div class="form-outline mb-4">
        Don't have account? <a class="form-label" asp-controller="Login"
                               asp-action="SignUp">Sign Up</a>
    </div>
</form>