@model ProductDTO

<form method="post">
    <h3 class="mb-5">Update</h3>
    
    <div class="form-outline mb-4">
        <input type="hidden" class="form-control form-control-lg " name="Id" value="@Model.Id" />
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="Name" value="@Model.Name" />
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="Price"  value="@Model.Price"/>
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="Note"  value="@Model.Note"/>
    </div>

    
    <input class="btn btn-primary btn-lg btn-block mb-4" type="submit"
            asp-controller="AdminProduct" asp-action="UpdateDTO">
    Update
    <input>

    <partial name="~/Views/Shared/Message.cshtml" />


</form>