html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-img-main {
    background-image: url("https://i.pinimg.com/originals/29/12/11/29121148ebcb1d0c5a39b778ded8426f.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #070a1b;
}

.bg-img {
    background-image: url("https://i0.wp.com/cdn.clickwallpapers.net/images/clickwallpapers-cinema-inside-3840x2160-img1.jpg?w=958&ssl=1");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #070a1b;
}

.card-img-size-50 {
    width: 55%;
    height: 55%;
}


.card-size-80perc {
    width: 80%;
}

.card-size-250 {
    width: 250px;
}


.width-300 {
    width: 300px;
}

